<div>
    <h3 class="site-preview-heading">Primary Button</h3>
    <button type="" class="osse-button">Default</button>
    <button type="" class="osse-button osse-button--hover">Hover</button>

    <h3 class="site-preview-heading">Secondary Button</h3>
    <button type="" class="osse-button osse-button--secondary">Default</button>
    <button type="" class="osse-button osse-button--secondary osse-button--hover">Hover</button>

    <h3 class="site-preview-heading">Accent cool color</h3>
    <button type="" class="osse-button osse-button--accent-cool">Default</button>
    <button type="" class="osse-button osse-button--accent-cool osse-button--hover">Hover</button>

    <h3 class="site-preview-heading">Accent warm color</h3>
    <button type="" class="osse-button osse-button--accent-warm">Default</button>
    <button type="" class="osse-button osse-button--accent-warm osse-button--hover">Hover</button>

    <h3 class="site-preview-heading">Outline</h3>
    <button type="" class="osse-button osse-button--outline">Default</button>
    <button type="" class="osse-button osse-button--outline osse-button--hover">Hover</button>

    <h3 class="site-preview-heading">Outline inverse</h3>
    <div class="bg-base-darkest padding-1" style="max-width: fit-content">
        <button type="" class="osse-button osse-button--outline osse-button--inverse">Default</button>
        <button type="" class="osse-button osse-button--outline osse-button--inverse osse-button--hover">Hover</button>
    </div>

    <h3 class="site-preview-heading">Disabled button</h3>
    <button type="" class="osse-button" disabled="disabled">Disabled</button>
    <h3 class="site-preview-heading">Button sizes</h3>
    <button type="" class="osse-button osse-button">Normal</button>
    <button type="" class="osse-button osse-button--medium">Medium</button>
    <button type="" class="osse-button osse-button--large">Large</button>
</div>
