<div>
    <h3 class="site-preview-heading">Primary Button</h3>
    <button type="" class="ose-button">Default</button>
    <button type="" class="ose-button ose-button--hover">Hover</button>

    <h3 class="site-preview-heading">Secondary Button</h3>
    <button type="" class="ose-button ose-button--secondary">Default</button>
    <button type="" class="ose-button ose-button--secondary ose-button--hover">Hover</button>

    <h3 class="site-preview-heading">Accent cool color</h3>
    <button type="" class="ose-button ose-button--accent-cool">Default</button>
    <button type="" class="ose-button ose-button--accent-cool ose-button--hover">Hover</button>

    <h3 class="site-preview-heading">Accent warm color</h3>
    <button type="" class="ose-button ose-button--accent-warm">Default</button>
    <button type="" class="ose-button ose-button--accent-warm ose-button--hover">Hover</button>

    <h3 class="site-preview-heading">Outline</h3>
    <button type="" class="ose-button ose-button--outline">Default</button>
    <button type="" class="ose-button ose-button--outline ose-button--hover">Hover</button>

    <h3 class="site-preview-heading">Outline inverse</h3>
    <div class="bg-base-darkest padding-1" style="max-width: fit-content">
        <button type="" class="ose-button ose-button--outline ose-button--inverse">Default</button>
        <button type="" class="ose-button ose-button--outline ose-button--inverse ose-button--hover">Hover</button>
    </div>

    <h3 class="site-preview-heading">Disabled button</h3>
    <button type="" class="ose-button" disabled="disabled">Disabled</button>
    <h3 class="site-preview-heading">Button sizes</h3>
    <button type="" class="ose-button ose-button">Normal</button>
    <button type="" class="ose-button ose-button--medium">Medium</button>
    <button type="" class="ose-button ose-button--large">Large</button>
</div>
