<h1>Examples</h1>
<div class="example example1">
    <div class="test">
        <div class="grid-row">
            <div class="container">
                <div class="tablet:grid-col">
                    <h2 class="text-white">Dark Background Example</h2>
                    <h3 class="challenge-banner-text">This is how a section would look if dark theme is chosen with primary buttons and links.</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                        publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        <span class="link-container">Click <a href="javascript: void(0)" class="bg-dark-link link">here</a> to view more info.</span>
                    </p>

                    <button type="" class="osse-button">Primary</button>
                    <button type="" class="osse-button osse-button--accent-warm">Accent</button>
                </div>
                <div class="tablet:grid-col"></div>
            </div>
        </div>
    </div>
</div>
<div class="example example2">
    <div class="test">
        <div class="grid-row">
            <div class="container">
                <div class="tablet:grid-col">
                    <h2 class="">Light Background Example</h2>
                    <h3 class="challenge-banner-text">This is how a section would look if dark theme is chosen with primary buttons and links.</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                        publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        <span class="link-container">Click <a href="javascript: void(0)" class="link">here</a> to view more info.</span>
                    </p>

                    <button type="" class="osse-button">Default</button>
                    <button class="osse-button osse-button--outline">Outline</button>
                </div>
                <div class="tablet:grid-col"></div>
            </div>
        </div>
    </div>
</div>
<div class="example3 bg-tan bg-curve-bottom colour-box copy--h2 is-light js-colour-box pb-0">
    <div class="test example">
        <div class="grid-row">
            <div class="container">
                <div class="tablet:grid-col">
                    <h2 class="">Beige Background Example</h2>
                    <h3 class="challenge-banner-text">This is how a section would look if dark theme is chosen with primary buttons and links.</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                        publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        <span class="link-container">Click <a href="javascript: void(0)" class="link">here</a> to view more info.</span>
                    </p>

                    <button type="" class="osse-button">Default</button>
                    <button class="osse-button osse-button--outline">Outline</button>
                </div>
                <div class="tablet:grid-col"></div>
            </div>
        </div>
    </div>
</div>
<div class="example"></div>
<div class="example"></div>
