/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap'); 
* { 
    box-sizing: border-box;
} 

.wrapper { 
    display: flex; 
    align-items: stretch;
} 

section { 
    display:  block;
    margin-top: 80px; 
    margin-bottom: 80px;
} 

section:first-of-type { 
    margin-top: 0; 
    padding-top: 50px;
} 

section#pageContent { 
    padding: 0; 
    margin: 0;
} 

body { 
    margin:   0; 
    font-family:  'Roboto', sans-serif; 
    font-size:   1rem; 
    font-weight:   400; 
    line-height:   1.5; 
    color:   #212529; 
    text-align:   left; 
    background-color:   #fff;
    background: #fafafa;
} 

html { 
    font-family:  sans-serif; 
    line-height:  1.15; 
    -webkit-text-size-adjust:  100%; 
    -webkit-tap-highlight-color:  transparent;
    -ms-text-size-adjust: 100%; 
    -ms-overflow-style: scrollbar; 
} 

#content { 
    padding: 20px; 
    min-height: 100vh; 
    transition: all 0.3s;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

nav { 
    display: block;
} 

.navbar { 
    position: relative; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    -ms-flex-align: center; 
    align-items: center; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    padding: .5rem 1rem;
} 

@media (min-width: 992px){ 
  .navbar-expand-lg { 
    -ms-flex-flow: row nowrap; 
    flex-flow: row nowrap; 
    -ms-flex-pack: start; 
    justify-content: flex-start;
  } 
}     

.bg-light { 
    background-color: #f8f9fa!important;
} 

.navbar { 
    padding: 15px 10px; 
    background: #fff; 
    border: none; 
    border-radius: 0; 
    margin-bottom: 40px; 
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
} 

h2 { 
    margin-top:      0; 
    margin-bottom:  .5rem; 
    font-weight:  500; 
    line-height:  1.2; 
    font-size:   260%; 
    margin:   0;
    font-family: inherit; 
    color: inherit;
} 

.row { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    margin-right: -15px; 
    margin-left: -15px;
} 

.styleguide__colours { 
    text-align: center;
} 

p { 
    margin-top:    0; 
    margin-bottom:    1rem;
    color:  #999;
    font-size:  1.1em; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
    line-height: 1.7em; 
} 

.container-fluid { 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
} 

.navbar .container-fluid  { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    -ms-flex-align: center; 
    align-items: center; 
    -ms-flex-pack: justify; 
    justify-content: space-between;
} 

@media (min-width: 992px){ 
  .navbar-expand-lg > .container-fluid  { 
    -ms-flex-wrap: nowrap; 
    flex-wrap: nowrap;
  } 
}     

.navbar > .container-fluid  { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    -ms-flex-align: center; 
    align-items: center; 
    -ms-flex-pack: justify; 
    justify-content: space-between;
} 

.col-6,.col-md-3,.col-sm-4 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

.col-6 { 
    -ms-flex: 0 0 50%; 
    flex: 0 0 50%; 
    max-width: 50%;
} 

@media (min-width: 576px){ 
  .col-sm-4 { 
    -ms-flex: 0 0 33.333333%; 
    flex: 0 0 33.333333%; 
    max-width: 33.333333%;
  } 
}     

@media (min-width: 768px){ 
  .col-md-3 { 
    -ms-flex: 0 0 25%; 
    flex: 0 0 25%; 
    max-width: 25%;
  } 
}     

.col-6,.col-md-3,.col-sm-4 { 
    position: relative; 
    width: 100%; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
} 

.col-md-6,.col-sm-12 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 576px){ 
  .col-sm-12 { 
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
    max-width: 100%;
  } 
}     

@media (min-width: 768px){ 
  .col-md-6 { 
    -ms-flex: 0 0 50%; 
    flex: 0 0 50%; 
    max-width: 50%;
  } 
}     

.col-md-6,.col-sm-12 { 
    position: relative; 
    width: 100%; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
} 

button { 
    border-radius:    0;
    margin:   0; 
    font-family:   inherit; 
    font-size:   inherit; 
    line-height:   inherit;
    overflow:  visible;
    text-transform: none;
} 

[type="button"],button { 
    -webkit-appearance: button;
} 

.btn { 
    display: inline-block; 
    font-weight: 400; 
    color: #212529; 
    text-align: center; 
    vertical-align: middle; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent; 
    border: 1px solid transparent; 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    line-height: 1.5; 
    border-radius: .25rem; 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

.btn-info { 
    color: #fff; 
    background-color: #17a2b8; 
    border-color: #17a2b8;
} 

.btn { 
    display: inline-block; 
    font-weight: 400; 
    text-align: center; 
    white-space: nowrap; 
    vertical-align: middle; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    border: 1px solid transparent; 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    line-height: 1.5; 
    border-radius: .25rem; 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

.btn-info { 
    color: #fff; 
    background-color: #00729f; 
    border-color: #00729f;
} 

.btn { 
    text-transform: uppercase!important; 
    font-weight: 600!important;
} 

button,[type="button"]  { 
    -webkit-appearance: button;
} 

[type="button"]:not(:disabled),button:not(:disabled) { 
    cursor: pointer;
} 

.btn:not(:disabled):not(.disabled) { 
    cursor: pointer;
} 

.btn:hover { 
    color: #212529; 
    text-decoration: none;
} 

.btn-info:hover { 
    color: #fff; 
    background-color: #138496; 
    border-color: #117a8b;
} 

.btn:hover { 
    text-decoration: none;
} 

.colour-card { 
    position: relative; 
    margin-bottom: 10px; 
    background: #fafafa;
} 

.styleguide__colours .colour-card  { 
    overflow: hidden;
} 

.styleguide__colours .colour-card:nth-last-child(-n + 3)  { 
    margin-bottom: 3.5rem;
} 

svg { 
    overflow: hidden; 
    vertical-align: middle;
} 

.svg-inline--fa { 
    display: inline-block; 
    font-size: inherit; 
    height: 1em; 
    overflow: visible; 
    vertical-align: -.125em;
} 

svg:not(:root) { 
    overflow: hidden;
} 

.svg-inline--fa.fa-w-14 { 
    width: .875em;
} 

svg:not(:root).svg-inline--fa { 
    overflow: visible;
} 

.fa-align-left:before { 
    content: "\f036";
} 

@media all{ 
  .fa-align-left:before { 
    content: "\f036";
  } 
}     

.colour-box { 
    font-size: 0.92857rem; 
    position: relative; 
    margin: 0; 
    padding: 25px 0; 
    cursor: copy; 
    color: #000;
} 

.copy--h2 { 
    margin-bottom: 0.75em;
} 

.styleguide__colours .copy--h2:first-child  { 
    margin-top: 0;
} 

code { 
    font-family:   SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size:  87.5%; 
    color:  #e83e8c; 
    word-wrap:    break-word;
    word-break: break-word;
} 

.styleguide__colours .colour-card code  { 
    display: block; 
    box-sizing: border-box; 
    width: 100%; 
    line-height: 1.4;
} 

.bg-grayGradient { 
    background-color: rgb(241, 243, 249); 
    background-image: linear-gradient(rgb(240, 243, 246) 17.5%, rgb(255, 255, 255)); 
    background-position: center center; 
    background-size: cover;
} 

.bg-orangeGradient { 
    mix-blend-mode:  normal; 
    background: #006085; 
    background: linear-gradient(147deg, #006085 20%, #e4f0f4 80%);
} 

.bg-yellowGradient { 
    mix-blend-mode: normal; 
    background-color: transparent; 
    background-image: radial-gradient(at center center, rgb(252, 174, 37) 21%, rgb(255, 154, 0) 56%);
} 

.pt-0 { 
    padding-top: 0!important;
} 

.bg-blue { 
    background-color: #005776; 
    color: white;
} 

.bg-curve-top:before,.bg-curve-bottom:after,.bg-reverse-curve-top:before,.bg-reverse-curve-bottom:after { 
    content: ''; 
    display: block; 
    background-repeat: no-repeat; 
    background-size: cover; 
    z-index: 100; 
    padding-bottom: 9.09%; 
    width: 100%; 
    background-image: url("./images/de_main_curve.svg"); 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
} 

.bg-curve-top:before { 
    transform: scaleY(-1);
} 

.bg-curve-top:before,.bg-reverse-curve-top:before { 
    background-position: center top;
} 

@media only screen and (min-width: 992px){ 
  .bg-curve-top:before,.bg-curve-bottom:after { 
    height: inherit;
  } 
}     

.bg-curve-top:before,.bg-reverse-curve-top:after { 
    top: -1px;
} 

.pb-0 { 
    padding-bottom: 0!important;
} 

.bg-curve-bottom:after,.bg-reverse-curve-bottom:after { 
    background-position:  center 0;
    bottom: -1px;
} 

.bg-gray { 
    background-color: #eeeeee;
} 

.bg-tan { 
    background-color: #f6f2ea;
} 

.colour-box__msg { 
    position: absolute; 
    width: 100%; 
    opacity: 0;
} 


.colour-box:hover .colour-box__msg--copy  { 
    opacity: 1;
} 

.colour-box__hash { 
    width: 100%; 
    height: 20px; 
    line-height: 20px;
}


/* These were inline style tags. Uses id+class to override almost everything */
#style-H8sMx.style-H8sMx {  
   background-color: #006085;  
}  
#style-zrhtU.style-zrhtU {  
   background-color: #00729f;  
}  
#style-lrYDS.style-lrYDS {  
   background-color: #005776;  
}  
#style-5vxXW.style-5vxXW {  
   background-color: #ffffff;  
}  
#style-g6VUB.style-g6VUB {  
   background-color: #005776;  
}  
#style-RpSSH.style-RpSSH {  
   background-color: #e4f0f4;  
}  
#style-229Sr.style-229Sr {  
   background-color: #F7F7F7;  
}  
#style-2eezO.style-2eezO {  
   background-color: #fafafa;  
}  
#style-o1CkX.style-o1CkX {  
   background-color: #cccccc;  
}  
#style-d3HaT.style-d3HaT {  
   background-color: #f6f2ea;  
}  
#style-5ERgY.style-5ERgY {  
   background-color: #ffffff;  
}  
#style-oaHmi.style-oaHmi {  
   background-color: #ffab18;  
}  
#style-soCGY.style-soCGY {  
   background-color: #93c94e;  
}  
#style-So9vv.style-So9vv {  
   background-color:  #fafafa;  
}  
#style-1wG7Z.style-1wG7Z {  
   background-color:  #e8e8e8;  
}  
#style-OU9Oo.style-OU9Oo {  
   background-color:  #cccccc;  
}  
#style-xAIfH.style-xAIfH {  
   background-color:  #666666;  
}  
#style-emWDz.style-emWDz {  
}  
#style-F2tTj.style-F2tTj {  
}  
#style-l8Dob.style-l8Dob {  
}  
#style-7JGB9.style-7JGB9 {  
   background-color: #9B3000;  
}  
#style-VqL7y.style-VqL7y {  
   background-color: #C63E00;  
}  
#style-2oHcj.style-2oHcj {  
   background-color: #FF7739;  
}  
#style-gK2Oe.style-gK2Oe {  
   background-color: #FF9464;  
}  
#style-LQtPK.style-LQtPK {  
   background-color: #FBE1D5;  
}  
#style-1fpa2.style-1fpa2 {  
   background-color: #002C3B;  
}  
#style-stToI.style-stToI {  
   background-color: #00445B;  
}  
#style-9BDyr.style-9BDyr {  
   background-color: #005876;  
}  
#style-9eNgO.style-9eNgO {  
   background-color: #006E92;  
}  
#style-FCOrN.style-FCOrN {  
   background-color: #0096C8;  
}  
#style-aBBpH.style-aBBpH {  
   background-color: #FBFBFB;  
}  
#style-iXqnl.style-iXqnl {  
   background-color: #38454A;  
}  
#style-Hg147.style-Hg147 {  
   background-color: #005876;  
}  
#style-Wdzmq.style-Wdzmq {  
   background-color: #FFFFFF;  
}  
